.mars{
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(16,14,28,1) 100%);
	height:100vh;
}
.mars img{
	width: 1050px;
	position: absolute;
	top: 940px;
	right:0;
}
.intro{
	color:white;
	width: 350px;
	padding: 20px;
	margin-left: 40px;
}
.slideinleft{
	margin-left: -380px;
	max-width: 100%;
}
.slideinbottom{
	margin-top:-80px;
}
/*.slide-in-left {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: slide-in-left 0.8s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}*/
